/* font style */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@1,300&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,100&family=Spline+Sans:wght@400;600;700&family=Yeseva+One&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    width:100%;
}
/* header style */
.head-style {
    display:flex;
    justify-content: space-between;
    padding-left:150px
}
.connect-bar a, i{
    color:black;
    text-decoration:none;
    padding-right: 20px;
    padding-top: 30px;
}
.connect-bar{
    padding-right:150px ;
}
/* header style end */
/* main styles start */
.first-container{
    display:flex ;
    justify-content: space-between;
    padding-left: 150px;
}
.written{
    padding-top: 80px;
    padding-right: 150px;
}
.written h1{
    font-size:35px ;
}
.angcor-1{
    text-decoration: none;
    padding-top: 2px;
}
.button-last-1, .angcor-1, #last-icon-1{
    color:white;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left:12px;
    font-weight: bold;
    padding-right: 2px;
}
.button-last-1{
    background-color: #E02C6DDE;
    border:1px solid #E02C6DDE;
    border-radius: 30px;
    width:180px;
    height:30px;   
}
 .picture{
    width:440px;
    height:414px;
    padding-right: 150px;
    padding-left:20px;
    padding-top:50px;
 }
 /* hr row styles */
 hr{
    width:700px;
    padding-left: 165px;
    padding-right:165px;
    margin-top:150px;
 }
 /* logo styles */
 .logo{
    padding-left:220px;
    padding-right: 220px;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    justify-content: space-between;
 }
 #top-size{
     margin-top:10px
 }
 /* populer collection styles */
 .second-part-head{
    display: flex;
    justify-content: center;
    padding-top:100px;
 }
 /* bannar styles */
 .collection{
     border:1px solid white;
     border-radius: 10px;
     width:290px;
     height:500px;
     box-shadow: 5px 5px 5px 5px gray;
 }
    .banner img{
        width:250px; 
        height:250px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .banner-info{
        padding-left: 20px;
    }
    .ratting-info{
        display:flex;
        align-items: center;
        font-size: 8px;
        padding-right:0px;
        margin-right: 50px;
    }
    .ratt, .fa-star.filled{
        padding-right: 2px;
    }
   .collection-pro{
       font-size: 12px;
       margin: 0% auto;
   }
  
    .fa-star.filled{
        color:#FFC014;

     
    }
    .fa-star.empty{
        color:#AEAEAE;
    }
    /* blogs styles */
    .blogs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap:10px ;
        grid-row-gap:47px ; 
        padding-left: 160px;
        padding-right: 130px;
        padding-top: 50px;
     
    }
    /* blogs style end */
    .corner-icon{
        padding-left: 1070px;
        padding-top: 20px;
        font-weight:bold;
    }
    .corner-icon a{
        text-decoration: none;
        color:#E02C6DDE;
    }
    .corner-icon #arrow{
        color:#E02C6DDE;
    }
    /* corner icon end */
    /* last pic styles */
    .last-pic img{
        width:404px;
        height:270px;
        border:1px solid #6E4420;
        border-radius:10px ;
        margin-left:150px;
    }
    /* last blogs styles */
    .last-section{
        display:flex;
        justify-content:center;
        align-items: center;
        padding-right: 150px;

    }
    .last-blog{
        padding-left:120px ;
    }
    .angcor{
        text-decoration: none;
        padding-top: 2px;
    }
    .button-last, .angcor, #last-icon{
        color:white;
        padding-top: 4px;
        padding-bottom: 2px;
        padding-left:4px;
        font-weight: bold;
        padding-right: 2px;
    }
    .button-last{
        background-color: #E02C6DDE;
       border:1px solid #E02C6DDE;
       width:110px;
       height:30px;   
    }
    /* footer styls */
    .footer-section{
        border:1px solid #0A0826;
        background-color:#0A0826;
        color:white;
        display:flex;
        justify-content: center;
        padding-top:5px;
        margin-top:70px;


    }
    .footer-info p{
        font-size:10px ;
        margin-bottom:0px;
    }
    .footer-info h4{
        padding-left: 10px;
        margin-bottom: 0px;
    }
    #para{
        padding-left: 50px;
    }
    .fab{
        color:white; 
        padding-top: 3px;
        
    }
    #icon-last{
        padding-left: 30px;
    }
    /* footer styles end */