/* font style */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@1,300&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,100&family=Spline+Sans:wght@400;600;700&family=Yeseva+One&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    width:100%;
}
/* header style */
.head-style {
    display:flex;
    justify-content: space-between;
    padding-left:150px
}
.connect-bar a, i{
    color:black;
    text-decoration:none;
    padding-right: 20px;
    padding-top: 30px;
}
.connect-bar{
    padding-right:150px ;
}
/* header style end */
/* main styles start */
.first-container{
    display:flex ;
    justify-content: space-between;
    padding-left: 150px;
}
.written{
    padding-top: 150px;
    padding-right: 150px;
}
.written h1{
    font-size:35px ;
}
.written a,.fa-arrow-right{
    color:white;
    background-color: #E02C6D;
    text-decoration:none ;
    border:1px solid palevioletred;
    border-radius:30px;
    padding:10px 24px 10px 24px;
    width:24px;
    height:24px;
    
}

 .picture{
    width:440px;
    height:414px;
    padding-right: 150px;
    padding-left:20px;
    padding-top:50px;

 }